.box{
  position: relative;
  width: 100%;
  height:900px;
  overflow: hidden;
  &>h2{
    padding:20px 0 10px 20px;
  }
  .box-content{
    margin:20px auto;
    width:95%;
    height:100%;
    border-radius: 10px;
    background: #fff;
    &>.el-button{
      margin:20px;
    }
  }
}